body {
  font-family: "Kanit";
  height: 100vh;
  font-size: 2rem;
  margin: 0px;
}

.container {
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.picAndShadow {
  position: relative;
  height: 100%;
  width: 100%;
}

.card {
  color: white;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid white;
  position: absolute;
}

.title {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 77%;
  margin-top: 5%;
}

.location {
  position: absolute;
  padding: 2%;
  background-color: HSLA(180, 100%, 0%, 0.5);
  bottom: 75%;
  left: 83%;
}

.shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 99%
  );
}
